body {
background-color: #4b4c57; 
color: #ffffff; 
font-size: 28px; 
font-family: Garamond;
}


h1 {
font-size: 60px;
text-align:center;
font-family: Garamond;
}

.top {
background: rgb(0, 109, 0);
}

p {
text-align:center
}

.image {
display: block;
margin-left: auto;
margin-right: auto;
width: 1200px;
height: 800px;
}

.discord {
display: block;
margin-left: auto;
margin-right: auto;
width: 600x;
height: 200px;
}
